@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.cardTitle {
  font-size: 25px;
  font-weight: 900;
}

.buttonStyle {
  margin-bottom: 30px;
}

.weatherHeading {
  font-size: 17px;
}

.weatherData {
  font-size: 15px;
  font-weight: 600;
}

.cardStyling {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}

.cardContentStyling {
  background-color: transparent !important;
}
